#root,
body,
html,
#App {
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Cards_Container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  max-width: fit-content;
  margin: 0 auto;
  
  @media (max-width: 532px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}

.victory_screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
}

.victory_text {
  font-size: 5rem;
  font-weight: bold;
  font-family: fantasy;
}

.play_again {
  height: 50px;
  width: 150px;
  font-size: 1rem;
}